<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" />
        <codeBase version="3.9.0.0" href="nunit.framework.3.9.0.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
